#!/usr/bin/make -f
#export DH_VERBOSE=1
# This is the debhelper compatability version to use.

MY_MAKEFLAGS=
ifneq (,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  NUMJOBS=$(patsubst parallel=%,%,$(filter parallel=%,$(DEB_BUILD_OPTIONS)))
  MY_MAKEFLAGS=-j$(NUMJOBS)
endif

#export DH_COMPAT=3
APPNAME := devilutionx
DESTDIR := $(CURDIR)/debian/$(APPNAME)

build: build-stamp
build-stamp:

	# Build process
	mkdir -p $(APPNAME)
	cd $(APPNAME)
	# Uncomment line 15 for Precise build
	#sed -i '15 s/^/# /' ./$(APPNAME)/$(APPNAME).pro
	#qmake PREFIX=/usr ./$(APPNAME)/$(APPNAME).pro
	#qmake -qt=opt-qt59 PREFIX=/usr ./$(APPNAME)/$(APPNAME).pro
	cmake ..
	make $(MY_MAKEFLAGS)
	# End of build process

	touch build-stamp

clean:
		dh_testdir
		dh_testroot
		rm -f build-stamp
		# Add here commands to clean up after the build process.
		dh_clean

#override_dh_auto_install:
#	mkdir -p debian/diablo-data/usr/share/games/diablo/
#	test -f "../diabdat.mpq" && cp ../diabdat.mpq debian/diablo-data/usr/share/games/diablo/ || true
#	dh_auto_install
#	mkdir -p debian/devilutionx/usr/share/icons/hicolor/16x16/apps/
#	mkdir -p debian/devilutionx/usr/share/icons/hicolor/32x32/apps/
#	mkdir -p debian/devilutionx/usr/share/icons/hicolor/48x48/apps/
#	mkdir -p debian/devilutionx/usr/share/games/diablo/
#	cp Packaging/resources/16.png debian/devilutionx/usr/share/icons/hicolor/16x16/apps/devilutionx.png 
#	cp Packaging/resources/Diablo_32.png debian/devilutionx/usr/share/icons/hicolor/32x32/apps/devilutionx.png 
#	cp Packaging/resources/Diablo_48.png debian/devilutionx/usr/share/icons/hicolor/48x48/apps/devilutionx.png 
#cp obj-${DEB_HOST_MULTIARCH}/devilutionx debian/devilutionx/usr/share/games/diablo/ 

#DESTDIR := $(CURDIR)/debian/$(APPNAME)

install: build
		dh_testdir
		dh_testroot
		dh_prep
		dh_installdirs
		###  Systemd directories
		install -pdm755 debian/diablo-data/usr/share/games/diablo/
		install -pdm755 $(DESTDIR)/usr/share/icons/hicolor/16x16/apps/
		install -pdm755 $(DESTDIR)/usr/share/icons/hicolor/32x32/apps/
		install -pdm755 $(DESTDIR)/usr/share/icons/hicolor/48x48/apps/
		install -pdm755 $(DESTDIR)/usr/share/games/diablo/
		test -f "../diabdat.mpq" && cp ../diabdat.mpq debian/diablo-data/usr/share/games/diablo/ || true
		###  Copy radeon-profile-daemon
		install -Dm664  $(CURDIR)/$(APPNAME)/devilutionx $(DESTDIR)/usr/share/games/diablo/ 
		install -Dm664  $(CURDIR)/Packaging/resources/16.png $(DESTDIR)/usr/share/icons/hicolor/16x16/apps/devilutionx.png 
		install -Dm664  $(CURDIR)/Packaging/resources/Diablo_32.png $(DESTDIR)/usr/share/icons/hicolor/32x32/apps/devilutionx.png 
		install -Dm664  $(CURDIR)/Packaging/resources/Diablo_48.png $(DESTDIR)/usr/share/icons/hicolor/48x48/apps/devilutionx.png 

